[submodule "DynamixelSDK"]
	path = DynamixelSDK
	url = https://github.com/ROBOTIS-GIT/DynamixelSDK.git
[submodule "visual_module"]
	path = visual_module
	url = git@github.com:junzastar/DFTr_Voting.git
[submodule "bop_toolkit"]
	path = bop_toolkit
	url = https://github.com/thodan/bop_toolkit.git
